$blue: #1690f5;
$red: #c0032b;
$green: #358177;
$orange: #f8c06b;
$bg-color: #20222f;
$font-family: "Courier New", monospace;
$font-bold: 600;

$tile-radius: 6px;
$tile-width: 250px;
$tile-height: 250px;
$small-tile-height: 150px;

$text-4xl: 48px;
$text-3xl: 32px;
$text-2xl: 24px;
$text-xl: 20px;
$text-lg: 18px;
$text-base: 16px;
$text-sm: 14px;
//light theme
$light-bg-color: #f8f9fe;
$light-font-primary: #1a1d26;
$light-font-secondary: #9698a5;
$light-tile-bg: #f0f3fa;
$light-tile-bg-hover: #e1e3f0;
//dark theme
$dark-bg-color: #20222f;
$dark-font-primary: #fefffb;
$dark-font-secondary: #95a0c0;
$dark-tile-bg: #252b43;
$dark-tile-bg-hover: #333a56;
