$blue: #1690f5;
$red: #c0032b;
$green: #358177;
$orange: #f8c06b;
$bg-color: #20222f;
$font-primary: #fefffb;
$font-secondary: #95a0c0;
$font-family: "Courier New", monospace;
$font-bold: 600;

$tile-bg: #252b43;
$tile-bg-hover: #333a56;
$tile-radius: 6px;
$tile-width: 250px;
$tile-height: 250px;
$small-tile-height: 150px;

$text-4xl: 48px;
$text-3xl: 32px;
$text-2xl: 24px;
$text-xl: 20px;
$text-lg: 18px;
$text-base: 16px;
$text-sm: 14px;
